@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html, body {
    background-image: url("img/2450848.jpg");
    background-size: cover;
}

input {
    text-align: center;
    border: solid 1px;
    border-radius: 0px;
    background-color: #00ccff00;
    border-color: #202020;
    box-shadow: 3px 2px 1px 0px rgba(42, 42, 42, .75);
}

form .mtop {
    margin-top: -20px;
}

.btn-calc {
    box-shadow: inset -2px 0px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 5px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding: 9px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    margin-right: 10px;
}

.btn-calc:hover {
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
}

.btn-calc:active {
    position: relative;
    top: 1px;
}

.btn-limp {
    box-shadow: inset -1px 0px 0px 0px #f29c93;
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color: #fe1a00;
    border-radius: 5px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 9px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin-right: 10px;
}

.btn-limp:hover {
    background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color: #ce0100;
}

.btn-limp:active {
    position: relative;
    top: 1px;
}

.botoes {
    margin-top: -5px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#resultados {
    margin-left: 15px;
    margin-top: 0px;
}

#resultados p {
    margin-top: -10px;
}

.inss, .irpf {
    color: red;
    font-size: 12px;
}

.valor {
    color: rgb(51, 2, 2);
    font-weight: bold;
}


@media (max-width: 600px) 
{
    html, body {
        background-image: url("img/mobile2.jpg");
        background-size: contain;
    }
}
