@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html,body{
    width: 100%;
    height:100%;
    background-image: url("img/2450848.jpg");
    background-size: cover;
}

.container {
    width: 90%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #555;
}

form {
    text-align: end;
    margin-right: 250px;
}

.content {
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}

label {
    font-size: 20px;
}

input {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: solid 1px;
    border-radius: 0px;
    background-color: #00ccff00;
    border-color: #202020;
    box-shadow: 3px 2px 1px 0px rgba(42, 42, 42, .75);
    width: 70px;
}

.campo-form {
    margin-top: 5px;
}

.btn-calc {
	box-shadow:inset -2px 0px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:5px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-size:14px;
	padding:9px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.btn-calc:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.btn-calc:active {
	position:relative;
	top:1px;
}

.btn-limp {
	box-shadow:inset -1px 0px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:5px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:9px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btn-limp:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.btn-limp:active {
	position:relative;
	top: 1px;
}

.botoes {
    margin-top: 10px;
    margin-right: 12%;
}

#resultados {
    margin-left: 15px;
    margin-top: 15px;
}

#resultados p {
    margin-top: 5px;
}

.inss, .irpf {
    color: red;
    font-size: 12px;
}

@media (min-width: 713px) and (max-width: 995px) 
{
    form {
        text-align: end;
        width: 100%;
    }

    input {
        font-size: 17px;
        width: 70px;
    }

    #resultados {
        margin-left: 25px;
        margin-top: 40px;
        font-size: 15px;
    }
    
    #resultados p {
        margin-top: 3px;
    }

    .inss, .irpf {
        font-size: 12px;
    }
}

@media (min-width: 332px) and (max-width: 712px) 
{
    .container {
        width: 100%;
        height: 100%;
        border: none;
    }

    form {
        text-align: end;
        width: 100%;
    }

    .content {
        position: unset;
        margin-right: -90%;
        margin-left: 0;
    }

    label {
        font-size: 18px;
    }

    input {
        font-size: 13px;
        width: 70px;
    }

    #resultados {
        margin-left: 10px;
        margin-top: 40px;
        font-size: 13px;
    }
    
    #resultados p {
        margin-top: 3px;
    }

    .inss, .irpf {
        font-size: 12px;
    }
}


@media (max-width: 331px) 
{
    html,body{
        width: 100%;
        height:100%;
    }
    
    .container {
        width: 100%;
        height: 100%;
    }
    
    form {
        text-align: end;
        width: 100%;
    }

    .content {
        position: unset;
        margin-right: 7%;
        margin-left: 0;
    }

    .content {
        position: unset;
        margin-right: -90%;
        margin-left: 0;
    }
    
    label {
        font-size: 15px;
    }
    
    input {
        font-size: 17px;
        width: 70px;
    }

    #resultados {
        margin-left: 10px;
        margin-top: 30px;
        font-size: 14px;
    }
    
    #resultados p {
        margin-top: 3px;
    }

    .inss, .irpf {
        font-size: 10px;
    }
}
